<%= form_for ([account,diabetic]), remote: true do |f| %>
  <%= f.text_field :name, :placeholder => "e.g. John Smith" %>
  <%= f.text_field :email, :placeholder => "e.g. john@smith.com" %>
  <div class="birthdate">
    <div class="birthday-label">Birthday</div>
    <%= date_select :diabetic, :birthday, :default => diabetic.birthday,:start_year => Time.now.year - 120, :end_year => Time.now.year %>
  </div>
<% end %>
<script>
var title = "Edit <%= diabetic.name %>'s info"
var leftButton = {
  type: 'cancel',
  text: 'Cancel'
}
var rightButton = {
  type: 'submit',
  text: 'Save'
}
</script>
