<button id="{{left-button.type}}-button" data-type="{{left-button.type}}" >{{left-button.text}}</button><button id="{{right-button.type}}-button" data-type="{{right-button.type}}" >{{right-button.text}}</button>
