<div class="edit_password">
<%= form_for account, url: accounts_changepassword_path do |f| %>
  <%= hidden_field(:account, :id) %>
  <%= label_tag :new_password, "New Password" %>
  <%= password_field_tag :new_password %>
  <%= label_tag :password_confirmation , 'Password Confirmation'%>
  <%= password_field_tag :password_confirmation %>
  <%= label_tag :password, "Current Password" %>
  <%= password_field_tag :password %>
<% end %>
</div>

<script>
var title = 'Change my password'
var leftButton = {
  type: 'cancel',
  text: 'Cancel'
}
var rightButton = {
  type: 'submit',
  text: 'Save'
}
</script>
