<div class="container">
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <%= error %><br>
    <% end %>
  <% end %>


<div class="sign_up">
<div class = "opaque">
<br><span id="signup_title">Sign Up</span><br><br>
<%= form_for account, id: 'account-signup', remote: true do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation , 'Password Confirmation'%>
  <%= f.password_field :password_confirmation %>
<% end %>
<br><br><br><br>
</div>
</div>

<script>
var title = ''
var leftButton = {
  type: 'cancel',
  text: 'Cancel'
}
var rightButton = {
  type: 'submit',
  text: 'Sign up'
}
</script>
