<div class="container">
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <%= error %><br>
    <% end %>
  <% end %>

<div id="cancel"> <%= link_to "Home", :back, :style =>
                                                      "color:#E80000;
                                                      font-family:'Orbitron', sans-serif;
                                                        text-decoration:none;
                                                        font-size: 175%;
                                                        margin-left:1100px;
                                                        margin-top:-120px;
                                                        position:fixed;

                                                      " %></div>

<div class="sign_up">
<div class = "opaque">
<br><span id="signup_title">Sign Up</span><br><br>
<%= form_for account, id: 'account-signup', remote: true do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation , 'Password Confirmation'%>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up" , :style =>
                            "height: 35px;
                            color:white;
                            width:278px;
                            border:1px solid black;
                            font-family:'Orbitron', sans-serif;
                            border-radius: 5px;
                            background-color: #E80000;
                            margin-left:202px" %>
<% end %>
<br><br><br><br>
</div>
</div>




<!--

<script>
var title = ''
var leftButton = {
  type: 'cancel',
  text: 'Cancel'
}
var rightButton = {
  type: 'submit',
  text: 'Sign up'
}
</script>
 -->