<div id="logo">
  <%= image_tag("large_logo.png") %>
</div>
<br><br>

<%= form_tag sessions_path, id: 'account-login', remote: true do %>
    <%= text_field_tag :username, '', :placeholder => "Username" %>
    <%= password_field_tag :password,'', :placeholder => "Password" %>
    <%= button_tag "Log In" , :class => "submit", data: {type: 'submit'} %>
<% end %>
<%= button_tag "Sign Up", :class => "signup", :data => { type: 'signup', url: new_account_path}, :remote => true %>
<br><br>






<script>
var title = ''
var leftButton = {
  type: 'none'
}
var rightButton = {

  type: 'none'
}
</script>
